:root {
    --main-hl-color: #f28015;

    --main-fg-color: #1e1e1e;
    --main-bg-color: #ffffff;
}

body {
    font-family: arial, sans-serif;

    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;
}

.navbar-container {
    height: 72px;
    width: 100%;
    background: var(--main-bg-color);

    color: var(--main-fg-color);

    border-bottom: 2px solid var(--main-hl-color);

    display: flex;
    align-items: center;

    padding: 8px;

    box-sizing: border-box;
}

    .navbar-container img {
        height: 100%;
    }

    .navbar-container a {
        padding: 0;
        margin: 0 10px;
        font-size: 1.5rem;
        color: black;
        text-decoration: none;
    }

.center-screen {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.flex-grow {
    flex-grow: 1;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-size {
    height: 100%;
    width: 100%;
}

input {
    height: 48px;

    padding: 10px;

    font-size: 1.5rem;

    border: none;

    box-sizing: border-box;
    border-bottom: 2px solid var(--main-hl-color);
}

/*LoginUser*/

#finduser-container {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    font-size: 1.3rem;
}
    #finduser-container > div {
        border: 2px solid #f28015;
        padding: 16px 32px;
        margin: 0px 10px;
        background-color: white;
        color: black;
    }
/* Specific */

#login-form {
    display: flex;
    flex-direction: column;
}

    #login-form input {
        margin: 10px;
    }

/*#title {*/
/*    font-size: 3rem;*/
/*    font-weight: bold;*/
/*    text-align: center;*/
/*}*/

/*.center {*/
/*    text-align: center;*/
/*}*/

/*#topMargin {*/
/*    margin-top: 15%;*/
/*}*/

/*#bottomMargin {*/
/*    margin-bottom: 5%;*/
/*}*/

/*input {*/
/*    padding: 1% 2% !important;*/
/*    font-size: 1.5rem;*/
/*}*/

/*button {*/
/*    width: 10%;*/
/*    height: 40px;*/
/*}*/

/*#buttonTopMargin {*/
/*    margin-top: 2.5%;*/
/*}*/

/*div p {*/
/*    margin-bottom: 5px;*/
/*    text-align: left;*/
/*    margin-left: 36%;*/
/*}*/