/* AUTHOR: RAP */

.m-1 {
    margin: 0.25rem;
}

.m-2 {
    margin: 0.5rem;
}

.m-4 {
    margin: 1rem;
}

.m-8 {
    margin: 2rem;
}

.m-16 {
    margin: 4rem;
}

.m-32 {
    margin: 8rem;
}

.mx-1 {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.mx-2 {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.mx-4 {
    margin-right: 1rem;
    margin-left: 1rem;
}

.mx-8 {
    margin-right: 2rem;
    margin-left: 2rem;
}

.mx-16 {
    margin-right: 4rem;
    margin-left: 4rem;
}

.mx-32 {
    margin-right: 8rem;
    margin-left: 8rem;
}

.my-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-16 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.my-32 {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.flex-shrink {
    flex-shrink: 1;
}

.flex-vertical-center {
    display: flex;
    align-items: center;
}