<!-- Author : RAP -->
<div th:object="${billing}"  class="full-size flex-center flex-col">
    <div class="border-theme w-2/4 billing-page-container flex flex-col">
        <div class="title flex-center w-full">Nordic Motorhome Rentals</div>
        <h2><b>Motorhome</b></h2>
        <div id="motorhome-info-block" >
            <div style="width: 45%;" >
                <p class="">
                    <b th:text="*{motorhomeName}"></b>
                    <span style="float: right" th:text="*{motorhomePrice} + ' EUR'"></span>
                    <br/>
                    <span><b>Sæson</b>  <span style="float: right" th:text="*{seasonPrice} + ' EUR'"></span></span>
                </p>
            </div>
            <div class="w-1/4"></div>
            <div class="flex-grow">
                <p>
                    <b>Start Dato</b> <span style="float: right" th:text="*{startDate}"></span>
                    <br/>
                    <b>Slut Dato</b>  <span style="float: right" th:text="*{endDate}"></span>
                </p>
            </div>
        </div>
        <hr class="border-theme w-full" />
        <h2><b>Accessories</b></h2>
        <div id="accessories-info-block">
            <div style="width: 45%;">
                <p>
                    <th:block th:each="entry : *{accessories}" th:with="amount=${entry.value},accessory=${entry.key}">
                        <b th:text="${accessory}"></b> <span style="float: right" th:text="${amount} + ' EUR'"></span>
                        <br/>
                    </th:block>
                </p>
            </div>
            <div class="w-1/4"></div>
            <div class="w-1/4">
                <img style="width: 100%" th:src="'/images/motorhomes/' + *{motorhomeName} + '.jpg'" />
            </div>
        </div>
    </div>
    <div class="title w-1/2 my-4 flex">
        <b>Total EUR: </b><span th:text="*{totalPrice}"></span>
        <div class="flex-grow"></div>
        <a role="button" class="button" href="/rentals/confirm">Bekræft Bestilling</a>
    </div>
</div>