<div class="full-size flex-center">
    <div id="finduser-container" class="row">

        <div class="flex-center">
            <div>
                <form th:object="${endRentalObject}" th:action="${'/rentals/deliver/' + rentalID}" method="post" >
                    Km ved lejemål ophør
                    <input style="width: 100%;" th:field="*{kmDriven}" id="kmDriven" placeholder="4500">
                    <br>

                    Skal autocamperen tankes?
                    Ja <input type="checkbox" th:field="*{fuelNeeded}" name="fuel" value="true">
                    <br>

                    Skal autocamperen til værksted?
                    Ja <input type="checkbox" th:field="*{serviceNeeded}" name="service" value="true">
                    <br>

                    Skal autocamperen rengøres?
                    Ja <input type="checkbox" th:field="*{cleaningNeeded}" name="cleaning" value="true">

                    <button type="submit">Opdater lejen</button>
                </form>
            </div>
        </div>
        <p><b>Total:</b><span th:text="${result}"></span></p>
    </div>
</div>