<!--AUTHOR: NKJ - AML-->
<div class="flex-grow flex-center">
    <div class="flex-center">
        <a type="button" href="/rentals/customerselect" class="button-big button1"><h2>Udlejning</h2>
          <img src="/images/icons/RentIcon.png" alt="RentIcon">
        </a>
        <a type="button" href="/customers/edit" class="button-big button2"><h2>Opdater</h2>
            <img src="/images/icons/UpdateIcon.png" alt="UpdateIcon">
        </a>
        <a type="button" href="/rentals/list" class="button-big button3"><h2>Udlejnings liste</h2>
            <img src="/images/icons/ShowListIcon.png" alt="CancelIcon">
        </a>
    </div>
</div>