<div class="flex-grow flex-center">
    <div class="flex-center">
        <a type="button" href="/rentals/customerselect" class="button button1"><h2>Rent</h2>
          <img src="/images/icons/RentIcon.png" alt="RentIcon">
        </a>
        <a type="button" href="/rentals" class="button button2"><h2>Update</h2>
            <img src="/images/icons/UpdateIcon.png" alt="UpdateIcon">
        </a>
        <a type="button" href="/rentals/cancelrental" class="button button3"><h2>Cancel</h2>
            <img src="/images/icons/CancelIcon.png" alt="CancelIcon">
        </a>
    </div>
</div>