<div class="full-size flex-center">
    <div class="row">
        <div class="column column1">
            <p>CPR nr.</p>
    <!--        <input th:field="*{cpr}" id="cpr" placeholder="CPR nr.">-->
            <button type="button">Search</button>

        </div>
        <div class="column column1">
            <p>First Name</p>

            <p>Last Name</p>

            <p>Phone nr.</p>

            <p>E-Mail</p>

            <button type="button">Select User</button>

        </div>
    </div>
</div>