<div class="full-size flex-center">
    <div id="finduser-container" class="row">
        <div class="flex-center">
            <div>
                <p><b>Motorhome Search</b></p>
                <form th:object="${searchObject}" th:action="@{/rentals/search}" method="post">
                    Number of beds
                    <input style="width: 100%;" th:field="*{beds}" id="beds" placeholder="4">
                    Start date
                    <input style="width: 100%;" th:field="*{startDate}" id="startDate" placeholder="1-4-2019">
                    End date
                    <input style="width: 100%;" th:field="*{endDate}" id="endDate" placeholder="30-4-2019">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
        <div>
            <!-- Arraylist of recommendations -->
            <p><b>Recommendations</b></p>
            <table>
                <th:block th:each="results : ${results}">
                    <tr>
                        <td th:text="${results.name}">...</td>
                    </tr>
                </th:block>
            </table>

        </div>
    </div>
</div>