<!--AUTHOR: AML, RAP-->

<div class="full-size flex-center">
    <div class="row h-full w-3/4 flex-col motorhome-search-container">
        <div class="motorhome-search">
            <div>
                <p><b>Motorhome Search</b></p>
                <form th:object="${searchObject}" th:action="@{/rentals/searchmotorhome}" method="post">
                    Number of beds
                    <input style="width: 100%;" th:field="*{beds}" id="beds" placeholder="4">
                    Start date
                    <input style="width: 100%;" th:field="*{startDate}" id="startDate" placeholder="1-4-2019">
                    End date
                    <input style="width: 100%;" th:field="*{endDate}" id="endDate" placeholder="30-4-2019">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="flex-grow border-theme motorhome-search-result-container">
            <th:block th:each="result : ${results}">
                <div class="motorhome-search-result-item">
                    <img style="height: 100%" th:src='${"/images/motorhomes/" + result.motorhome.model.name + ".jpg"}'>
                    <div class="info-block">
                        <div class="flex flex-col">
                            <p class="title" th:text="${result.motorhome.model.name}">
                            <p class="subtitle" th:text="${result.motorhome.model.beds + ' senge'}"></p>
                        </div>
                        <div class="flex-center flex-grow flex-col">
                            <p class="title" th:text="${'Pris: ' + result.price + 'DKK'}"></p>
                            <form action="/rentals/selectmotorhome" method="post">
                                <input class="hidden" name="id" th:value="${result.motorhome.ID}" >
                                <input class="hidden" name="startDate" th:value="${searchObject.startDate}">
                                <input class="hidden" name="endDate" th:value="${searchObject.endDate}">
                                <button>Select Motorhome</button>
                            </form>
                        </div>

                    </div>
                </div>
            </th:block>
        </div>
<!--        <div>-->
<!--            &lt;!&ndash; Arraylist of recommendations &ndash;&gt;-->
<!--            <p><b>Recommendations</b></p>-->
<!--            <table>-->
<!--                <th:block th:each="results : ${results}">-->
<!--                    <tr>-->
<!--                        <td th:text="${results.getModel().name}">...</td>-->
<!--                    </tr>-->
<!--                </th:block>-->
<!--            </table>-->

<!--        </div>-->
    </div>
</div>