<!-- Author: ME, RAP -->
<div class="full-size flex-center">
    <div class="row form-group w-100">
        <form th:object="${customerObject}" th:action="@{/customers/create}" method="post">
            <div class="row form-group w-100">
                <h1>Opret ny kunde</h1>
            </div>
            <div class="row form-group w-100">
                <label for="firstName"><h3>Fornavn(e)</h3></label>
                <input th:field="*{firstName}" type="text" id="firstName" class="form-control" placeholder="" />
            </div>
            <div class="row form-group w-100">
                <label for="lastName"><h3>Efternavn</h3></label>
                <input th:field="*{lastName}" type="text" id="lastName" class="form-control" placeholder="" />
            </div>
            <div class="row form-group w-100">
                <label for="number"><h3>Mobilnummer</h3></label>
                <input th:field="*{phone}" type="text" id="number" class="form-control" placeholder=""/>
            </div>
            <div class="row form-group w-100">
                <label for="email"><h3>E-mail</h3></label>
                <input th:field="*{email}" type="text" id="email" class="form-control" placeholder=""/>
            </div>
            <div class="row form-group w-100">
                <label for="cpr"><h3>CPR-nummer</h3></label>
                <input th:field="*{cpr}" type="text" id="cpr" class="form-control" placeholder=""/>
            </div>
            <button id="cancel" class="btn btn-danger m-1">Annuller</button>
            <button id="confirm" type="submit" class="btn btn-success m-1">Opret kunde</button>
        </form>
    </div>
</div>
<script>
    $(document).ready(() => {
        checkInputs();

        $('#firstName').on('input', checkInputs)
        $('#lastName').on('input', checkInputs)
        $('#number').on('input', checkInputs)
        $('#email').on('input', checkInputs)
        $('#cpr').on('input', checkInputs)

        function checkInputs() {
            if ($('#firstName').val() === "") return $('#confirm').prop("disabled", true)
            if ($('#lastName').val() === "") return $('#confirm').prop("disabled", true)
            if (!$('#number').val().match(/^[0-9]{8}$/)) return $('#confirm').prop("disabled", true)
            if ($('#email').val() === "") return $('#confirm').prop("disabled", true)
            if (!$('#cpr').val().match(/^[0-9]{10}$/)) return $('#confirm').prop("disabled", true)

            $('#confirm').prop("disabled", false)
        }
    })
</script>
