<div class="full-size accessory">
    <div class="row form-group w-100">
        <form th:object="${assessoryObject}" th:action="@{/rentals/registerAccessory}" method="post">
            <div class="row form-group w-100">
                <h1>Tilføje tilbehør</h1>
            </div>
            <div>
                <table class="center" width="600px">
                    <tr>
                        <th>Tilbehør</th>
                        <th>Pris</th>
                        <th>Antal</th>
                    </tr>

                </table>
            </div>
        </form>
    </div>
</div>
