<!--AUTHOR: NKJ, RAP-->
<div class="full-size">
    <table id="RentalListTable">
        <tr>
            <th>Customer Name</th>
            <th>Motorhome Model</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Options</th>
        </tr>
        <th:block th:each="result : ${results}">
            <tr>
                <td>
                    <p th:text="${result.customer.firstName + ' ' + result.customer.lastName}"></p>
                </td>
                <td>
                    <p th:text="${result.motorhome.model.name}"></p>
                </td>
                <td>
                    <p th:text="${result.startDate}"></p>
                </td>
                <td>
                    <p th:text="${result.endDate}">...</p>
                </td>
                <td>
                    <a th:href="${'/rentals/view/' + result.ID}" class="button">Detaljer</a>
                    <a th:href="${'/rentals/cancelRental/' + result.ID}" class="button">Slet</a>
                    <a th:href="${'/rentals/deliver/' + result.ID}" class="button">Aflever</a>
                </td>
            </tr>
        </th:block>
    </table>
</div>