<!--AUTHOR: NKJ, AML-->
<!-- creates a view of the options available after pressing 'udlejning' -->
<div class="full-size flex-center">
    <div class="flex-center">
        <a type="button" href="/rentals/createcustomer" class="button-big button1"><h2>Registrer ny kunde</h2>
            <img src="/images/icons/CreateCustomerIcon.png" alt="CreateCustomerIcon">
        </a>
        <a type="button" href="/rentals/findcustomer" class="button-big button2"><h2>Vælg eksisterende kunde</h2>
            <img src="/images/icons/ExistingCustomerIcon2.png" alt="ExistingCustomerIcon">
        </a>
    </div>
</div>