<!--AUTHOR: NKJ-->
<div class="full-size flex-center">
    <div id="finduser-container" class="row">
        <div class="flex-center">
            <div>
                <p><b>CPR nr.</b></p>
                <form th:object="${CPRObject}" th:action="@{/rentals/findcustomer}" method="post">
                    <input style="width: 100%;" th:field="*{cpr}" id="cpr" placeholder="CPR nr.">
                    <button type="submit">Søg</button>
                </form>
            </div>
        </div>
        <div>
            <p><b>Fornavn(e): </b><span th:text="${customer?.getFirstName()}"></span></p>

            <p><b>Efternavn: </b><span th:text="${customer?.getLastName()}"></span></p>

            <p><b>Telefon nr.: </b><span th:text="${customer?.getPhone()}"></span></p>

            <p><b>E-Mail: </b><span th:text="${customer?.getEmail()}"></span></p>

            <form action="/rentals/selectcustomer" method="POST">
                <input name="id" style="display: none;" th:value="${customer?.getID()}">
                <button type="submit">Vælg kunde</button>
            </form>


        </div>
    </div>
</div>