<div class="full-size flex-center">
   <div id="finduser-container" class="row">
        <div class="flex-center">
            <div>
                <p><h4>CPR nr.</h4></p>
                <form >
                    <input style="width: 100%;" >
                    <button type="submit">Søg kunde</button>
                </form>
            </div>
        </div>

       <div class="flex-center">
            <div>
                <label for="firstName"><h4>Fornavn(e)</h4></label>
                <input type="text" id="firstName" class="form-control" placeholder="" />
                <br>
                <label for="lastName"><h4>Efternavn</h4></label>
                <input type="text" id="lastName" class="form-control" placeholder="" />
                <br>
                <label for="number"><h4>Mobilnummer</h4></label>
                <input type="text" id="number" class="form-control" placeholder=""/>
                <br>
                <label for="email"><h4>E-mail</h4></label>
                <input type="text" id="email" class="form-control" placeholder=""/>
                <br>
                <form action="/rentals/selectcustomer" method="POST">
                    <input name="id" style="display: none;" >
                    <button type="submit">Opdater kunde</button>
                </form>
           </div>
       </div>
   </div>
</div>