<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motorhome Rental</title>'
    <link rel="stylesheet" href="mystyle.css">
</head>
<body>

<div class="container">
    <h1 id="title">Nordic Motorhome Rental</h1>

    <div class="center" id="topMargin">
        <p>Email</p>
        <input type="text" placeholder="Jens@gmail.com">
        <br id="bottomMargin">
        <p>Password</p>
        <input type="password" placeholder="12345">
        <br>
        <button type="submit" id="buttonTopMargin">Login</button>
    </div>

</div>



</body>
</html>